<div class="match-container">
  <div>
    <div class="match-title">
      <h1>{{ match?.competition?.name }} {{ match?.competition?.season }}</h1>
      <h1>{{ match?.matchDate | date : "medium" }}</h1>
    </div>

    <div class="teams-container">
      <div class="home-team">
        <h2>{{ match?.homeTeam?.name }}</h2>
        <img
          class="team-flag"
          src="{{ match?.homeTeam?.flag }}"
          alt="hometeam flag"
        />
        <p class="odds">{{ match?.homeOdds }}</p>
      </div>

      <div class="away-team">
        <h2>{{ match?.awayTeam?.name }}</h2>
        <img
          class="team-flag"
          src="{{ match?.awayTeam?.flag }}"
          alt="hometeam flag"
        />
        <p class="odds">{{ match?.awayOdds }}</p>
      </div>
    </div>

    <div
      class="full-time-result"
      (click)="toggleFullTimeResultForm()"
      [ngClass]="{ expanded: isFullTimeResultFormExpanded }"
    >
      full time result
    </div>
    <div class="full-time-result-form" *ngIf="isFullTimeResultFormExpanded">
      <div class="full-time-result-options">
        <button
          class="home-button"
          (click)="selectFullTimeResultWinner(Winner.HOME)"
          [ngClass]="{ selected: fullTimeResultWinner === Winner.HOME }"
        >
          home
        </button>
        <button
          class="draw-button"
          (click)="selectFullTimeResultWinner(Winner.DRAW)"
          [ngClass]="{ selected: fullTimeResultWinner === Winner.DRAW }"
        >
          draw
        </button>
        <button
          class="away-button"
          (click)="selectFullTimeResultWinner(Winner.AWAY)"
          [ngClass]="{ selected: fullTimeResultWinner === Winner.AWAY }"
        >
          away
        </button>
      </div>

      <div class="button-container">
        <button class="bet-button" (click)="submitFullTimeResultBet()">
          Bet !
        </button>
      </div>
    </div>

    <div
      class="correct-score"
      (click)="toggleCorrectScoreForm()"
      [ngClass]="{ expanded: isCorrectScoreFormExpanded }"
    >
      correct score
    </div>
    <div class="correct-score-form" *ngIf="isCorrectScoreFormExpanded">
      <form [formGroup]="correctScoreBetForm">
        <div>
          <select formControlName="duration">
            <option [value]="Duration.REGULAR_TIME">regular time</option>
            <option [value]="Duration.EXTRA_TIME">extra time</option>
            <option [value]="Duration.PENALTIES">penalties</option>
          </select>
        </div>

        <div class="team-scores">
          <div class="home-score">
            <label> Home Score:</label>
            <input type="number" formControlName="homeScore" />
          </div>

          <div class="away-score">
            <label> Away Score:</label>
            <input type="number" formControlName="awayScore" />
          </div>
        </div>

        <button class="bet-button" (click)="submitCorrectScoreBet()">
          Bet !
        </button>
      </form>
    </div>
  </div>
</div>
