<div class="register">
  <div class="header-logo-container">
    <img class="header-logo" src="../../assets/img/logo.png" alt="logo icon" />
    bet-app
  </div>
  <div class="register-container">
    <h2>Register new account</h2>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label>Username:</label>

        <input
          class="form-control"
          type="text"
          formControlName="username"
          placeholder="Enter your username"
          [style.border-color]="isFormControlValid(username) ? 'red' : null"
        />

        <span style="color: red" *ngIf="isFormControlValid(username)">
          <ng-container *ngIf="username?.errors as errors">
            <div *ngIf="errors?.['required']">Username is required.</div>
            <div *ngIf="errors?.['minlength']">
              Username should be at least 5 characters long.
            </div>
          </ng-container>
        </span>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
          [style.border-color]="isFormControlValid(email) ? 'red' : null"
        />

        <span style="color: red" *ngIf="isFormControlValid(email)">
          <ng-container *ngIf="email?.errors as errors">
            <div *ngIf="errors?.['required']">Email is required.</div>
            <div *ngIf="errors?.['email']">Invalid email format.</div>
          </ng-container>
        </span>
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
          [style.border-color]="isFormControlValid(password) ? 'red' : null"
        />

        <span style="color: red" *ngIf="isFormControlValid(password)">
          <ng-container *ngIf="password?.errors as errors">
            <div *ngIf="errors?.['required']">Password is required.</div>
            <div *ngIf="errors?.['minlength']">
              Password should be at least 5 characters long.
            </div>
          </ng-container>
        </span>
      </div>

      <button
        type="submit"
        class="register-button"
        (click)="register()"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>

      <p class="login-link">
        Already registered? Login
        <a href="http://localhost:4200/login"> here</a>.
      </p>
    </form>
  </div>
</div>
