<div class="upcoming-match">
  <div class="hometeam">
    <img src="{{ upcomingMatch?.homeFlag }}" alt="team flag" />
    <div class="team-name">{{ upcomingMatch?.homeTeam }}</div>
    <div class="odds">{{ upcomingMatch?.homeOdds }}</div>
  </div>
  <div class="drawodds">
    <div class="odds">{{ upcomingMatch?.drawOdds }}</div>
  </div>
  <div class="awayteam">
    <div class="odds">{{ upcomingMatch?.awayOdds }}</div>
    <div class="team-name">{{ upcomingMatch?.awayTeam }}</div>
    <img src="{{ upcomingMatch?.awayFlag }}" alt="team flag" />
  </div>
</div>
