.upcoming-match {
  display: flex;

  max-width: 25vw;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 20px 25px 20px;
  background-color: #f1f1f1;
  color: rgb(128, 128, 128);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.upcoming-match:hover {
  background-color: #00b227;
  border-color: #00b227;
  color: white;
  transition: 0.3s;
}

.upcoming-match:active {
  opacity: 0.85;
  transition: 0.15s;
}

.hometeam,
.awayteam {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  width: 50%;
}

.hometeam img {
  margin-left: 10px;
}

.awayteam img {
  margin-right: 10px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.awayteam {
  justify-content: space-between;
  border-left: solid 1px;
}

.hometeam {
  border-right: solid 1px;
}

.drawodds {
  display: flex;
  width: 150px;

  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding-right: 10px;
  padding-left: 10px;
}

.team-details {
  padding-left: 20px;
}

.team-name {
  width: 120px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.odds {
  margin-right: 20px;
  margin-left: 20px;
}

/*TODO fix upcoming matches to be responsive*/
