<div class="user-menu-container">
  <div
    class="user-info"
    (click)="toggleDropdown()"
    [ngClass]="{ expanded: isDropdownExpanded }"
  >
    <div class="user-name">{{ getEmailFromJWT() }}</div>
    <div class="user-icon">
      <img src="../../assets/img/user_icon.png" alt="user icon" />
    </div>
  </div>

  <div class="user-menu" *ngIf="isDropdownExpanded">
    <div class="menu-item">Info</div>
    <div class="menu-item">Settings</div>
    <div class="menu-item" (click)="logout()">Logout</div>
  </div>
</div>
