<!DOCTYPE html>
<div class="dashboard-header">
  <div class="header-container">
    <div class="header-logo-container" (click)="redirectToDashboard()">
      <img
        class="header-logo"
        src="../../assets/img/logo.png"
        alt="logo icon"
      />
      bet-app
    </div>
    <div class="header-tabs">
      <button (click)="navigateToScoreboard()">scoreboard</button>
      <button>your bets</button>
      <button (click)="navigateToUpcomingMatches()">schedule</button>
      <button (click)="navigateToOngoingCompetitions()">
        ongoing competitions
      </button>
    </div>
  </div>
  <betapp-user-menu></betapp-user-menu>
</div>
