<!DOCTYPE html>
<div class="dashboard-header">
  <div class="header-container">
    <div class="header-logo-container">
      <img
        class="header-logo"
        src="../../assets/img/logo.png"
        alt="logo icon"
      />
      bet-app
    </div>
    <div class="header-tabs">
      <button>scoreboard</button>
      <button>bets</button>
      <button>schedule</button>
      <button>results</button>
    </div>
  </div>
  <div class="header-user">
    <div class="header-user-username">kryspin91</div>
    <img
      class="header-user-icon"
      src="../../assets/img/user_icon.png"
      alt="user icon"
    />
  </div>
</div>
