<!DOCTYPE html>
<div class="dashboard-header">
  <div class="header-container">
    <div class="header-logo-container" (click)="redirectToDashboard()">
      <img
        class="header-logo"
        src="../../assets/img/logo.png"
        alt="logo icon"
      />
      bet-app
    </div>
    <div class="header-tabs">
      <button>scoreboard</button>
      <button>bets</button>
      <button>schedule</button>
      <button>results</button>
    </div>
  </div>
  <betapp-user-menu></betapp-user-menu>
</div>
