<div class="user-bets-container">
  <div>
    <table>
      <caption>
        Current full time result bets
      </caption>
      <tr>
        <th>No.</th>
        <th>Winner prediction</th>
        <th>Creation Date</th>
      </tr>
      <tr *ngFor="let bet of getFullTimeResultBets(); let i = index">
        <td>{{ i + 1 }}.</td>
        <td>{{ bet?.winner }}</td>

        <td>
          {{ bet?.creationDate | date }},
          {{ bet?.creationDate | date : "shortTime" }}
        </td>
      </tr>
    </table>
  </div>
  <div class="no-past-bets-info" *ngIf="getFullTimeResultBets().length === 0">
    There is no past bets
  </div>

  <div>
    <table>
      <caption>
        Current correct score bets
      </caption>
      <tr>
        <th>No.</th>
        <th>Winner prediction</th>
        <th>Home score</th>
        <th>Away score</th>
        <th>Creation Date</th>
      </tr>
      <tr *ngFor="let bet of getCorrectScoreBets(); let i = index">
        <td>{{ i + 1 }}.</td>
        <td>{{ bet?.winner }}</td>
        <td>{{ bet?.fullTimeScore?.home }}</td>
        <td>{{ bet?.fullTimeScore?.away }}</td>
        <td>
          {{ bet?.creationDate | date }},
          {{ bet?.creationDate | date : "shortTime" }}
        </td>
      </tr>
    </table>
  </div>

  <div class="no-past-bets-info" *ngIf="getCorrectScoreBets().length === 0">
    There is no past bets
  </div>
</div>
