<div class="user-bets-container">
  <table>
    <caption>
      full time result bets
    </caption>
    <tr>
      <th>No.</th>
      <th>Bet</th>
      <th>Creation Date</th>
    </tr>
    <tr *ngFor="let bet of fullTimeResultBets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ bet?.winner }}</td>

      <td>
        {{ bet?.creationDate | date }},
        {{ bet?.creationDate | date : "shortTime" }}
      </td>
    </tr>
  </table>

  <table>
    <caption>
      correct score bets
    </caption>
    <tr>
      <th>No.</th>
      <th>Bet</th>
      <th>Creation Date</th>
    </tr>
    <tr *ngFor="let bet of correctScoreBets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ bet?.winner }}</td>

      <td>
        {{ bet?.creationDate | date }},
        {{ bet?.creationDate | date : "shortTime" }}
      </td>
    </tr>
  </table>
</div>
